fastapi
uvicorn
jinja2
aiofiles
google-cloud-firestore
requests
python-multipart
firebase-admin
openai
dateparser
google-auth
python-dotenv==1.0.1
regex==2024.5.15
numpy==2.1.0
google-generativeai==0.3.2
